
dist/

.astro/

node_modules/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.production

.DS_Store

.idea/

public/avatars/

public/uploads/
public/banners/
preset-antiguo/
data/
forum.db
forum.db-wal
forum.db-shm
